**Step 1: Data Exploration & Loading**

In [32]:
#import necessay required
import pandas as pd
import pymysql
from sqlalchemy import create_engine

In [6]:
print(pd.__version__)

2.2.3

In [14]:
df = pd.read_csv('../Walmart.csv', encoding_errors='ignore')
print(df.shape)
# import os
# print(os.getcwd())

(10051, 11)

In [15]:
df.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin
0,1,WALM003,San Antonio,Health and beauty,$74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48
1,2,WALM048,Harlingen,Electronic accessories,$15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48
2,3,WALM067,Haltom City,Home and lifestyle,$46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33
3,4,WALM064,Bedford,Health and beauty,$58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33
4,5,WALM013,Irving,Sports and travel,$86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10051 entries, 0 to 10050
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_id      10051 non-null  int64
 1   Branch          10051 non-null  object
 2   City            10051 non-null  object
 3   category        10051 non-null  object
 4   unit_price      10020 non-null  object
 5   quantity        10020 non-null  float64
 6   date            10051 non-null  object
 7   time            10051 non-null  object
 8   payment_method  10051 non-null  object
 9   rating          10051 non-null  float64
 10  profit_margin   10051 non-null  float64
dtypes: float64(3), int64(1), object(7)
memory usage: 863.9+ KB

In [17]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
10046     True
10047     True
10048     True
10049     True
10050     True
Length: 10051, dtype: bool

In [ ]:
#All Duplicates
df.duplicated().sum()

np.int64(51)

In [ ]:
#To see if any of the value is null
df.isnull().sum()

invoice_id         0
Branch             0
City               0
category           0
unit_price        31
quantity          31
date               0
time               0
payment_method     0
rating             0
profit_margin      0
dtype: int64

In [22]:
df.drop_duplicates(inplace=True)
df.duplicated().sum()

np.int64(0)

In [23]:
df.shape

(10000, 11)

In [24]:
#Dropping all the records with missing values.
df.dropna(inplace=True)

In [25]:
df.isnull().sum()

invoice_id        0
Branch            0
City              0
category          0
unit_price        0
quantity          0
date              0
time              0
payment_method    0
rating            0
profit_margin     0
dtype: int64

In [26]:
df['unit_price']=df['unit_price'].str.replace('$','').astype(float)

In [27]:
df.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin
0,1,WALM003,San Antonio,Health and beauty,74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48
1,2,WALM048,Harlingen,Electronic accessories,15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48
2,3,WALM067,Haltom City,Home and lifestyle,46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33
3,4,WALM064,Bedford,Health and beauty,58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33
4,5,WALM013,Irving,Sports and travel,86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48

In [28]:
df['unit_price'] = 84.5 * df['unit_price']

In [29]:
df.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin
0,1,WALM003,San Antonio,Health and beauty,6311.305,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48
1,2,WALM048,Harlingen,Electronic accessories,1291.160,5.0,08/03/19,10:29:00,Cash,9.6,0.48
2,3,WALM067,Haltom City,Home and lifestyle,3914.885,7.0,03/03/19,13:23:00,Credit card,7.4,0.33
3,4,WALM064,Bedford,Health and beauty,4919.590,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33
4,5,WALM013,Irving,Sports and travel,7293.195,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48

In [30]:
df['total']=df['unit_price']*df['quantity']

In [31]:
df.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin,total
0,1,WALM003,San Antonio,Health and beauty,6311.305,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48,44179.135
1,2,WALM048,Harlingen,Electronic accessories,1291.160,5.0,08/03/19,10:29:00,Cash,9.6,0.48,6455.800
2,3,WALM067,Haltom City,Home and lifestyle,3914.885,7.0,03/03/19,13:23:00,Credit card,7.4,0.33,27404.195
3,4,WALM064,Bedford,Health and beauty,4919.590,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33,39356.720
4,5,WALM013,Irving,Sports and travel,7293.195,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48,51052.365

In [39]:
engine = create_engine("mysql+pymysql://root:Dipti%403010@localhost/walmart")
try:
  if engine:
    print("Successfully connected")
except:
    print("Unable to connect")

Successfully connected

In [40]:
df.to_sql(name='walmart', con=engine, if_exists='append', index=False)

9969